* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
}

body {
  background: rgb(216, 215, 215);
}

h4 {
  margin: 15px;
}

.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  /* height: fit-content; */
}

#topNav {
  border: 2px solid rgb(66, 65, 65);
  margin-bottom: 30px;
  padding: 15px;
  background: white;
  display: flex;
  flex-wrap: wrap;
}
.card-list {
  display: flex;
}
.artist-list {
  display: flex;
}

.card {
  width: 16rem;
  display: flex;
  flex-wrap: wrap;

  border: 1px solid black;
  background: white;
  box-shadow: 8px 8px 10px 1px grey;
  margin: 15px;
}
.card-img-top {
  width: 100%;
}

.card-body {
  margin: 10px;
  padding: 10px;
  justify-content: space-evenly;
}

.card-button {
  border: 2 px solid black;
  margin: 10px;
}
.card-title {
  text-transform: capitalize;
  margin-bottom: 8px;
}
.card-img {
  margin-bottom: 8px;
}

@media only screen and (min-width: 1050px) {
  body {
    background: rgb(10, 170, 224);
  }
  .card {
    width: 25%;
  }
  .forFlex {
    width: 25%;
    display: flex;
    justify-content: center;
  }
  .card-template {
    border: 10px solid red;
  }
  .card {
    width: fit-content;
    /* display: flex; */
    /* flex-wrap: wrap; */

    border: 1px solid black;
    background: white;
    box-shadow: 8px 8px 10px 1px rgb(39, 38, 38);
    margin: 15px;
  }
}
@media only screen and (max-width: 1049px) {
  body {
    background-color: rgb(153, 59, 174);
  }
  .forFlex {
    width: 33.33;
    display: flex;
    justify-content: center;
  }
}

@media only screen and (max-width: 860px) {
  body {
    background-color: rgb(189, 173, 109);
  }
  .forms {
    border: 5px solid red;
    display: flex;
    flex-direction: column;
    /* justify-content: space-between; */
  }
  input {
    margin: 10px;
  }
  /* .forFlex {
    border: 5px solid red;

    width: 50%;
    display: flex;
    justify-content: center;
  } */
  #card-list {
    border: 5px solid red;
    display: flex;
    flex-wrap: wrap;
    /* width: 100%; */
    margin: 0;
  }
  .card {
    /* border: 5px solid red; */

    width: 45%;
    /* justify-content: center; */
    display: flex;
    flex-direction: column;
  }
  .card-img {
    width: 100%;
  }
}
@media only screen and (max-width: 571px) {
  body {
    background-color: rgb(40, 167, 46);
  }
  .forFlex {
    width: 100%;
    display: flex;
    justify-content: center;
  }
  #card-list {
    /* border: 5px solid red; */

    /* border: 5px solid red; */
    display: flex;
    width: fit-content;
    justify-content: center;
  }
  .card {
    /* border: 5px solid red; */

    width: 80%;
    justify-content: center;
    align-content: center;
    display: flex;
    flex-direction: column;
  }

  .forms {
    /* border: 5px solid red; */
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  input {
    margin: 10px;
  }
  .submit {
    width: 8rem;
    align-self: flex-end;
  }
}
